<%= form_for(@place_has_cap) do |f| %>
  <% if @place_has_cap.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@place_has_cap.errors.count, "error") %> prohibited this place_has_cap from being saved:</h2>

      <ul>
      <% @place_has_cap.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :place_id %><br />
    <%= f.number_field :place_id %>
  </div>
  <div class="field">
    <%= f.label :capability_id %><br />
    <%= f.number_field :capability_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
