<h1>Listing place_has_caps</h1>

<table>
  <tr>
    <th>Place</th>
    <th>Capability</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @place_has_caps.each do |place_has_cap| %>
  <tr>
    <td><%= place_has_cap.place_id %></td>
    <td><%= place_has_cap.capability_id %></td>
    <td><%= link_to 'Show', place_has_cap %></td>
    <td><%= link_to 'Edit', edit_place_has_cap_path(place_has_cap) %></td>
    <td><%= link_to 'Destroy', place_has_cap, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Place has cap', new_place_has_cap_path %>
