<p id="notice"><%= notice %></p>

<p>
  <b>Place:</b>
  <%= @place_has_cap.place_id %>
</p>

<p>
  <b>Capability:</b>
  <%= @place_has_cap.capability_id %>
</p>


<%= link_to 'Edit', edit_place_has_cap_path(@place_has_cap) %> |
<%= link_to 'Back', place_has_caps_path %>
