<%= form_for(@reservation) do |f| %>
  <% if @reservation.errors.any? %>
    <div class="errors_box">
      <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
      <% @reservation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%if @reservation_error_mssg != nil%>
  	<div class="errors_box">
      <ul>
      <% @reservation_error_mssg.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <%end%>
  
  
<div class = "main_container">
  <div class="field">
    <%= f.label :place_id %><br />
    <%= f.text_field :place_id, :value => "" %>
  </div>
  <div class="field">
    <%= f.label :datefrom %><br />
    <%= f.date_select :datefrom%>
  </div>
  <div class="field">
    <%= f.label :dateto %><br />
    <%= f.date_select :dateto%>
  </div>
  <div class="field">
    <%= f.label :dayname %><br />
    <%= f.select :dayname, ['Saturday', 'Sunday', 'Monday','Tuesday', 
    		'Wednesday', 'Thursday','Friday'] %> 
  </div>
  <div class="field">
    <%= f.label :period %><br />
    <%= f.number_field :period%>
  </div>
  <div class="field">
    <%= f.label :purpose %><br />
    <%= f.text_area :purpose%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
</div>  
<% end %>
