<%= form_for(@capabilities_place) do |f| %>
  <% if @capabilities_place.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@capabilities_place.errors.count, "error") %> prohibited this capabilities_place from being saved:</h2>

      <ul>
      <% @capabilities_place.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :capability_id %><br />
    <%= f.number_field :capability_id %>
  </div>
  <div class="field">
    <%= f.label :place_id %><br />
    <%= f.number_field :place_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
