<h1 align="center">Check place empty</h1>



<div class = "main_container">
<%= form_tag("/check_place_empty_request", :method => "get") do %>
  <%= label_tag(:place_name, "Place name:") %><br />
  <%= text_field_tag(:place_name, "", :required => true) %><br />
  
  <%= label_tag(:building_name, "Building name:") %><br />
  <%= text_field_tag(:building_name, "", :required => true) %><br />
  
  <%= label_tag(:day_date, "Day:") %><br />
  <%= date_select(:day_date, "date") %><br />
  
  <%= label_tag(:period, "Period:") %><br />
  <%= number_field_tag :period, "", :required => true %><br />
  
  <%= submit_tag("Search") %><br />
<% end %>
</div>

<% if @place_mssg != nil%>
  	<%if @place_mssg[0] == true%>
  		<h4 align="center">This place is empty in this time.</h4>
  	<%elsif @place_mssg[0] != "Unkown place"%>
  		<h4 align="center">This place is busy in this time.</h4></br>
  		<h4 align="center">Purpose: <%=@place_mssg[1]%></h4>
  	<%else%>
  		<h4 align="center"><%=@place_mssg[0]%></h4>
  	<%end%>
<%end%>