<div class = "main_container">
<p id="notice"><%= notice %></p>

<p>
  <b>P name:</b>
  <%= @place.placename %>
</p>

<p>
  <b>Building:</b>
  <%= @place.building %>
</p>

<p>
  <b>Size:</b>
  <%= @place.size %>
</p>

<p>
  <b>Admin:</b>
  <%= @place.person_id %>
</p>
</div>

<h4 align = "center"><%= link_to 'Edit', edit_place_path(@place) %> </h4>
<h4 align = "center"><%= link_to 'Back', places_path %></h4>
